
body {
    margin: 0px;
    padding: 0px;
}
/* Styling for Navbar */

#header-nav {
    padding-top: 20px;
    background-color: maroon;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
}


 .collapse .navbar-collapse #nav-list {
    background-color: black;
    margin: 0;
    padding: 20px;
    width: 100%;
    
}

 .menu-list-design {
    background-color: black;
    width:100%;
    border-bottom: .25px solid maroon;
}

#nav-list li  {
  
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
   
    
}

#nav-list li a {
    color: white;
}

#nav-list li a:hover {
    color: green;
}

.navbar_brand {
    position: relative;
    left: -15px;
    text-decoration: none;
}

.navbar-brand {
    position:relative;
    top: -30px;
    font-family: 'Times New Roman', Times, serif;
    
}

.navbar-brand a {
    color: white;
    text-decoration: none;
}

.navbar-brand a:hover {
    color:white;
    text-decoration: none; 
}

.navbar-toggle .collapsed, span {
background-color: maroon;
}

/* End of Styling for Navbar */

/* Styling for Menu and Links*/
#menu_section h1 {
    font-family: 'Times New Roman', Times, serif;
    color: maroon;
    padding-top: 15px;
    
}

.column-menu {
    margin: 30px;
}


.col-md-12, .col-lg-12, .col-xs-12 {
    width: 100%;
    height: 500px;
    background-color: grey;
    margin-top: 30px;
    
}

.col-md-12, .col-lg-12, .col-xs-12 h2 {
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    
}

/* End of Styling for Menu*/

/* Styling for "Back to Top" Link*/

#link_top {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: maroon;
  
}

#link_top a {
    color: maroon;
    text-decoration: none;
}

#link_top a:hover {
    color:black;
    text-decoration: none;
}

/* Styling for Menu Descriptions and links */

.menu_description {
    font-size: 25px;
    position: relative;
    bottom: -15px;
}

.menu_description a {
    color: black;
    text-decoration: none;

}

.menu_description a:hover {
    color: maroon;
    text-decoration: none;
}

